<div
  [ngClass]="{
    'bg-blue-600': enabled,
    'rounded-lg': enabled,
    'p-5': enabled
  }"
  class="transition-all duration-1000 mb-3"
>
  <div [ngClass]="{ 'pb-3': enabled }">
    <div
      (click)="swapEnable()"
      [ngClass]="{
        'text-white': enabled,
        'hover:text-blue-500': !enabled,
        'text-gray-700': !enabled,
        'font-bold': enabled
      }"
      class="flex cursor-pointer transition-all duration-100"
      id="dropdownDefault"
      data-dropdown-toggle="dropdown"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 mt-px mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
        />
      </svg>

      <div>
        <div *ngIf="!enabled; else elseBlock">Force Update Bills</div>
        <ng-template #elseBlock>Fetching bills...</ng-template>

        <p
          class="text-sm text-gray-500 font-medium"
          [ngClass]="{ 'text-gray-200': enabled }"
        >
          Updated {{ getIntervalLastUpdated() }}
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="enabled" class="text-center">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</div>
