<div class="text-sm text-gray-500 uppercase pb-1">Action</div>
<div class="flex">
  <select
    (change)="updateAction($event)"
    id="countries_multiple"
    [value]="action"
    class="w-1/2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
  >
    <option value="uncategorized" selected>Uncategorized</option>
    <option value="monitor">Monitor</option>
    <option value="testimony">Testimony</option>
  </select>
</div>
