<app-bill-header
	[code]="'HB 1078'"
	[measureTitle]="'Elections; Chief Election Officer; Voter Information Guide'"
	[reportTitle]="'Relating to the Hawaii School for the Deaf and Blind'"
	[introducer]="'B. KOBAYASHI'"
	[description]="'djlsfhlkjadsf adfsjkldfslk dfs dfsdfs fds fsad fads fads dfs afads adfs adfs adfs adfs fads dfsa adfs dfs dfsa fdsa fsad fsad afsd adfsfs adfsad fads fsad adfs fdsa fsad dfsa '"
	[status]="'Introduced and Pass First Reading.'"
	[offices]="['OSS', 'OSIP']"
	[users]="['Joe Mama', 'Chase Papa']"
></app-bill-header>

<app-bill-information></app-bill-information>
