<div class="grid sm:grid-cols-1 md:grid-cols-3 gap-5 gap-y-16 px-32 py-12">
	<app-data-display [label]="'Status'" [data]="'Deferred/inactive'"></app-data-display>
	<app-data-display [label]="'Action'" [data]="'Testimony'"></app-data-display>
	<app-data-display [label]="'Last Updated'" [data]="'06/22/3333 13:45'"></app-data-display>
	<app-data-display [label]="'Companion Bill'" [data]="'Deferred/inactive'"></app-data-display>
	<app-data-display [label]="'Current Referrer'" [data]="'Testimony'"></app-data-display>
</div>
