<app-bill-header
  [measureType]="measureType"
  [measureNumber]="measureNumber"
  [measureTitle]="measureTitle"
  [reportTitle]="reportTitle"
  [introducer]="introducer"
  [description]="description"
  [offices]="offices"
  [users]="users"
>
</app-bill-header>

<div class="px-32 py-16">
  <div class="mb-10">
    <a
      class="flex text-gray-800 hover:text-blue-500 transition-all duration-200"
      [routerLink]="['../../']"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 text-gray-500 mr-3"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
        />
      </svg>
      Back to bill
    </a>
  </div>
  <div class="mb-20">
    <div class="text-sm text-gray-500 uppercase pb-8">Approvals</div>
    <app-approval-timeline
      [approvals]="approvals"
      [date]="date"
      [time]="time"
      [location]="location"
      [committee]="currentReferrer"
      [personTestifying]="personTestifying"
      [purpose]="description"
      [position]="body"
      [title]="title"
    ></app-approval-timeline>
  </div>
  <div class="mb-10">
    <app-testimony-position
      [position]="position"
      [body]="body"
      [same]="same"
    ></app-testimony-position>
  </div>
  <app-testimony-comments
    [testimonyId]="testimonyId"
    [comments]="comments"
  ></app-testimony-comments>
</div>
