<app-bill-header
  [measureType]="measureType"
  [measureNumber]="measureNumber"
  [measureTitle]="measureTitle"
  [reportTitle]="reportTitle"
  [introducer]="introducer"
  [description]="description"
  [offices]="offices"
  [users]="users"
>
</app-bill-header>

<div class="px-16 md:px-32">
  <app-bill-information
    [measureType]="measureType"
    [measureNumber]="measureNumber"
    [status]="status"
    [action]="action"
    [lastUpdated]="lastUpdated"
    [companionBill]="companionBill"
    [currentReferrer]="currentReferrer"
  ></app-bill-information>

  <app-testimony-table
    [rows]="[
      {
        date: '06/23/2020',
        status: 'Approved',
        creator: 'Joe Nakana',
        testimony: 'a few words about it'
      },
      {
        date: '06/23/2020',
        status: 'Approved',
        creator: 'Joe Nakana',
        testimony: 'a few words about it'
      }
    ]"
  >
  </app-testimony-table>
</div>
