<div class="px-16 py-16">
  <div class="pb-10">
    <h1 class="text-2xl font-bold">Legislative Tracking System</h1>
    <p class="text-sm text-gray-500">
      Search, sort, or filter among Hawaii Department of Education-related
      bills.
    </p>
  </div>

  <div class="grid lg:grid-cols-4 gap-5 md:grid-cols-1">
    <div class="col-span-1">
      <app-bill-actions></app-bill-actions>
      <app-bill-filter></app-bill-filter>
    </div>
    <div class="col-span-3 flex flex-col gap-y-5">
      <app-bill-search></app-bill-search>
      <app-bill-card
        *ngFor="let bill of getBills()"
        [id]="bill.bill_id"
        [billType]="bill.measure_type"
        [billNumber]="bill.measure_number"
        [measureTitle]="bill.measure_title"
        [description]="bill.description"
        [action]="'Monitor'"
        [hearingDate]="'06/23/2023 6:00 PM'"
      ></app-bill-card>
    </div>
  </div>
</div>
