<div class="px-16 py-16">
  <div class="pb-10">
    <h1 class="text-2xl font-bold">Legislative Tracking System</h1>
    <p class="text-sm text-gray-500">Search, sort, or filter among Hawaii Department of Education-related bills.</p>
  </div>

  <div class="flex flex-col md:flex-row gap-5">
    <div class="w-full md:w-1/2">
      <app-bill-actions></app-bill-actions>
      <app-bill-filter></app-bill-filter>
    </div>
    <div class="flex flex-col">
      <app-bill-search></app-bill-search>
      <app-bill-card></app-bill-card>
      <app-bill-card></app-bill-card>
      <app-bill-card></app-bill-card>
      <app-bill-card></app-bill-card>
      <app-bill-card></app-bill-card>
      <app-bill-card></app-bill-card>
    </div>
  </div>
</div>