<ol class="items-center sm:flex">
  <li
    *ngFor="let stage of stages | keyvalue"
    [name]="stage.value.name"
    [stage]="stage.key"
    [status]="stage.value.status"
    [user]="stage.value.user"
    app-approval-stage
    class="relative mb-6 sm:mb-0 w-full"
  ></li>
  <li class="relative mb-6 sm:mb-0">
    <div class="flex items-center">
      <app-approval-make-pdf (click)="generatePDF()"></app-approval-make-pdf>
    </div>
    <div class="mt-3">
      <div class="uppercase font-bold text-sm text-gray-500 pb-1">Make PDF</div>
    </div>
  </li>
</ol>
