<div>
    <div>
        <div>Placeholder</div>
        <form [formGroup]="registerForm">
            <input formControlName="firstName" type="text" required>
            <input formControlName="lastName" type="text" required>
            <input formControlName="email" type="text" required>
            <input formControlName="password" type="text" required>
            <input formControlName="confirmPassword" type="text" required>
            <button type="submit" (click)="register()">Register</button>
        </form>
    </div>
</div>
