<div class="overflow-x-auto relative pb-16">
  <div class="rounded-t px-5 py-4 bg-gray-50 border-b">
    <div class="flex justify-between content-center">
      <div class="text-lg font-bold">Testimony for HB 1078</div>
      <a
        (click)="createTestimony()"
        class="cursor-pointer underline decoration-2 underline-offset-4 hover:text-green-600 transition-colors duration-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 float-left mr-1 mt-0.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
        <span class="text-sm">Add Testimony</span>
      </a>
    </div>
    <div class="mt-5">
      <span *ngFor="let assignee of assignees" class="-mr-2">
        <app-avatar [name]="assignee"></app-avatar>
      </span>
    </div>
  </div>
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="py-3 px-6">Date</th>
        <th scope="col" class="py-3 px-6">Status</th>
        <th scope="col" class="py-3 px-6">Creator</th>
        <th scope="col" class="py-3 px-6">Testimony</th>
        <th scope="col" class="py-3 px-6">Same</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of rows"
        class="bg-white hover:bg-gray-100 cursor-pointer"
        [routerLink]="['testimony', 1]"
      >
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ row.date }}
        </th>
        <td class="py-4 px-6">
          {{ row.status }}
        </td>
        <td class="py-4 px-6">
          {{ row.creator }}
        </td>
        <td class="py-4 px-6">
          {{ row.testimony }}
        </td>
        <td class="py-4 px-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            />
          </svg>
        </td>
      </tr>
      <!-- <tr class="bg-white border-b">
        <td colspan="5" class="py-4 px-16 w-full">
          <app-approval-timeline></app-approval-timeline>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
