<app-bill-header
  [code]="'HB 1078'"
  [measureTitle]="'Elections; Chief Election Officer; Voter Information Guide'"
  [reportTitle]="'Relating to the Hawaii School for the Deaf and Blind'"
  [introducer]="'B. KOBAYASHI'"
  [description]="
    'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum'
  "
  [status]="'Introduced and Pass First Reading.'"
  [offices]="['OSS', 'OSIP']"
  [users]="['Joe Mama', 'Chase Papa']"
>
</app-bill-header>

<div class="px-32 py-16">
  <div class="pb-10">
    <div class="text-sm text-gray-500 uppercase pb-3">
      Department's Position
    </div>
    <div class="flex pb-3">
      <div class="flex items-center mr-4">
        <input
          id="inline-radio"
          type="radio"
          value=""
          name="inline-radio-group"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
        />
        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900"
          >Support</label
        >
      </div>
      <div class="flex items-center mr-4">
        <input
          id="inline-2-radio"
          type="radio"
          value=""
          name="inline-radio-group"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
        />
        <label
          for="inline-2-radio"
          class="ml-2 text-sm font-medium text-gray-900"
          >Oppose</label
        >
      </div>
      <div class="flex items-center mr-4">
        <input
          id="inline-checked-radio"
          type="radio"
          value=""
          name="inline-radio-group"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2"
        />
        <label
          for="inline-checked-radio"
          class="ml-2 text-sm font-medium text-gray-900"
          >Comments</label
        >
      </div>
    </div>
    <div class="text-right pt-3">
      <button
        type="button"
        class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
      >
        Save Testimony
      </button>
    </div>
  </div>

  <div>
    <div class="text-sm text-gray-500 uppercase">Comments</div>
    <div class="py-3 m-4">
      <div class="bg-gray-50 p-4 rounded-md mb-5">
        <div class="pb-1">
          <span class="font-bold pr-2"> Juliet Hatcher </span>
          <span class="text-gray-400"> 07/23/2022 2:37 PM </span>
        </div>
        <div class="text-gray-500">I agree with Juliet</div>
      </div>
      <textarea
        id="message"
        rows="2"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Your message..."
        spellcheck="true"
      ></textarea>
      <div class="text-right pt-3">
        <button
          type="button"
          class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
        >
          Comment
        </button>
      </div>
    </div>
  </div>
</div>
