<div
  [ngClass]="{
    'bg-blue-600': getEnabled(),
    'rounded-lg': getEnabled(),
    'p-5': getEnabled()
  }"
  class="transition-all duration-1000 mb-3"
>
  <div>
    <div
      (click)="swapEnable()"
      [ngClass]="{
        'text-white': getEnabled(),
        'hover:text-blue-500': !getEnabled(),
        'text-gray-700': !getEnabled(),
        'font-bold': getEnabled()
      }"
      class="flex cursor-pointer transition-all duration-100"
      id="dropdownDefault"
      data-dropdown-toggle="dropdown"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 mt-px mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
        />
      </svg>

      Assign Offices & Users
    </div>
  </div>
  <div *ngIf="getEnabled()">
    <p class="text-sm text-gray-100 pb-3 pt-2">
      Click on bills that you want the selected offices and/or users to be
      assigned to.
    </p>
    <p class="text-sm pb-3 font-bold text-white">
      Selected {{ getNumberSelectedBills() }} bills
    </p>

    <label
      for="countries_multiple"
      class="block mb-2 text-sm font-medium text-gray-100"
      >Assign Users</label
    >
    <select
      (change)="assignUser($event)"
      multiple
      id="countries_multiple"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mb-3"
    >
      <option *ngFor="let user of getUsers() | keyvalue" [value]="user.key">
        {{ user.value }}
      </option>
    </select>
    <label
      for="countries_multiple"
      class="block mb-2 text-sm font-medium text-gray-100"
      >Assign Offices</label
    >
    <select
      (change)="assignOffice($event)"
      multiple
      id="countries_multiple"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
    >
      <option
        *ngFor="let office of getOffices() | keyvalue"
        [value]="office.key"
      >
        {{ office.value }}
      </option>
    </select>
    <div class="text-right mt-3">
      <button
        (click)="assign()"
        type="button"
        class="py-2 px-4 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
      >
        Assign
      </button>
    </div>
  </div>
</div>
